<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="flex items-center justify-center overflow-x-hidden">

        <div class="flex flex-col items-center justify-center w-5/12 min-h-screen bg-black">

            <div class="w-28"><img class="border-8 rounded-full border-emerald-400" src="/public//images/profile.png"
                    alt="profile"></div>

            <span class="mt-3 text-2xl font-semibold text-white">Roshan Laharwani</span>

            <div class="flex flex-col justify-start">

                <ul class="mt-5 space-y-4 text-lg text-white list-none">
                    <li><strong class="text-xl font-medium text-gray-500">Graduation Year: </strong>2027</li>
                    <li><strong class="text-xl font-medium text-gray-500">College Email ID:
                        </strong>roshan.23bce7308@vitapstudent.ac.in
                    </li>
                    <li><strong class="text-xl font-medium text-gray-500">Branch: </strong>Computer Science - (CORE)
                    </li>
                    <li><strong class="text-xl font-medium text-gray-500">Phone Number: </strong>+91-7470629602</li>

                </ul>

                <div class="self-start mt-5 text-2xl font-semibold text-white ">Skills</div>

                <div class="mt-5 ">
                    <ul class="flex font-medium list-none gap-x-2">
                        <li
                            class="p-1 px-4 text-white duration-300 ease-in-out bg-red-500 rounded-full hover:scale-105 ">
                            Python</li>
                        <li
                            class="p-1 px-4 text-white duration-300 ease-in-out rounded-full bg-emerald-500 hover:scale-105">
                            Javascript</li>
                        <li
                            class="p-1 px-4 text-white duration-300 ease-in-out rounded-full bg-amber-500 hover:scale-105">
                            Java</li>
                        <li
                            class="p-1 px-4 text-white duration-300 ease-in-out rounded-full bg-sky-500 hover:scale-105">
                            C++</li>
                    </ul>
                </div>
                <div class="flex gap-3 mt-5">
                    <span class="my-3 text-2xl font-semibold text-white"> Socials: </span>
                    <img src="/public/images/instagram.png" alt="" class="w-6 h-6 my-4">
                    <img src="/public/images/linkedin.png" alt="" class="w-6 h-6 my-4">
                    <img src="/public/images/github.png" alt="" class="w-6 h-6 my-4">
                </div>
            </div>

        </div>
        <div class="flex flex-col items-center w-8/12 min-h-screen bg-gray-900">
            <span class="p-1 px-8 mt-4 text-3xl font-medium text-white border-b-4 border-white">General
                Information</span>

            <div class="flex flex-col p-4 m-4 bg-gray-800 rounded-xl w-11/12 ">
                <span class="self-start mb-5 text-xl font-semibold text-white ">About Me</span>
                <p class="text-lg font-normal text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolores ipsum sunt praesentium inventore minus iure mollitia porro excepturi, iste aut deleniti
                    beatae obcaecati maxime tenetur? Ducimus consequatur dolorem quia mollitia pariatur magnam.</p>
            </div>

            <div class="flex items-center justify-center w-11/12 h-full p-2 m-4 bg-gray-800 rounded-xl">

                <div class="flex flex-col w-1/2 h-full mx-4 gap-y-6">
                    <div class="flex flex-col gap-y-2">
                        <span class="text-xl font-medium text-gray-400">Education: </span>
                        <span class="mx-2 text-lg font-normal text-white">Vatsalya Sr. Secondary School 12th
                            :85.5%</span>
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <span class="text-xl font-medium text-gray-400">Clubs: </span>
                        <span class="mx-2 text-lg font-normal text-white">Member of The Next Nexus Club</span>
                    </div>

                    <div class="flex flex-col gap-y-2">
                        <span class="text-xl font-medium text-gray-400">Projects: </span>
                        <span class="mx-2 text-lg font-normal text-white">Auto Connect Wi-Fi automation for
                            hostel, Chat-GPT GUI python Client using Tkinter, Just Define Dictionary website </span>
                    </div>

                </div>

                <div class="flex flex-col w-1/2 h-full mx-4 gap-y-6">
                    <div class="flex flex-col gap-y-2">
                        <span class="text-xl font-medium text-gray-400">Experience: </span>
                        <span class="mx-2 text-lg font-normal text-white">Member of CSI in VIT AP for 1 Year</span>
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <span class="text-xl font-medium text-gray-400">Languages: </span>
                        <span class="mx-2 text-lg font-normal text-white">Hindi, English, Sindhi</span>
                    </div>

                </div>


            </div>
        </div>

        </div>

    </main>
</body>

</html>