<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Email</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <style>
        #resend-button.hidden {
            display: none;
        }
    </style>
</head>

<body class="bg-gray-100">

    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
            <div class="flex flex-col items-center">
                <svg class="w-16 h-16 mb-4 text-blue-500" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M2.003 5.884L10 10.294l7.997-4.41A2 2 0 0016.764 4H3.236a2 2 0 00-1.233.884zM18 8.118l-8 4.411-8-4.41V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
                <h1 class="text-2xl font-bold text-gray-800">Verify Your Email</h1>
                <p class="mt-2 text-center text-gray-600">
                    A verification email has been sent to your registered email address. Please check your inbox and
                    click the link to verify your account.
                </p>

            </div>
        </div>
    </div>



</body>

</html>