<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body,
        html {
            min-height: 100vh;
            ;
            margin: 0;
            display: flex;
            flex-direction: column;

        }

        main {
            flex: 1;
        }
    </style>
</head>

<body class="bg-gray-900 bg-gradient-to-r from-indigo-500">
    <main class="h-full min-w-full p-5 ">
        <section class=" bg-gray-50 dark:bg-transparent">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:min-h-screen lg:py-0">
                <div
                    class="w-full bg-transparent bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-lg xl:p-0 backdrop-blur-xl dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-4 space-y-4 md:space-y-6 sm:p-4">
                        <h1
                            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Enter Details of Your Team
                        </h1>
                        <form class="space-y-4 md:space-y-6" action="#">
                            <div>
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Project
                                    Name</label>
                                <input type="email" name="email" id="email"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Website Creation" required="">
                            </div>
                            <div>
                                <label for="Name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                    Name</label>
                                <input type="text" name="Name" id="Name" placeholder="Andrew Tate"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required="">
                            </div>
                            <div>
                                <label for="confirm-password"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Project
                                    Description</label>
                                <textarea name="" id=""
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none"
                                    required=""></textarea>
                            </div>
                            <div>
                                <label for="members"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of
                                    Members Required</label>
                                <select id="members" name="members"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required="">
                                    <option value="" disabled selected>Members required</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="existing-users"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Registration
                                    number of existing members</label>
                                <input type="text" name="existing-users" id="Name" placeholder="23BCEXXXX,23MICXXXX"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required="">
                            </div>
                            <div>
                                <label for="skills"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">List of Skills
                                    Required</label>
                                <select id="skills" name="skills[]"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required="">
                                    <option value="React Js">React Js</option>
                                    <option value="javascript">JavaScript</option>
                                    <option value="frontEnd">Front End</option>
                                    <option value="backEnd">Back End</option>
                                    <option value="Next Js">Next Js</option>
                                    <option value="Node Js">Node Js</option>
                                    <option value="AI/ML">AI/ML</option>
                                    <option value="Others">Others</option>
                                </select>


                            </div>
                            
                            <div class="flex justify-center">
                                <button type="submit"
                                class="w-1/2 text-black bg-white   hover:bg-red-500 hover:text-white  font-semibold rounded-lg text-lg  px-5 py-2.5 text-center  hover:ring-2 hover:ring-white hover:scale-105 duration-300">Add Project</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>